@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pretendard Variable", Pretendard, sans-serif;
}

body {
    background: url(./images/paper_bg.png);
    background-size: contain;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrap {
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}


/* .navi_area--------------------------------------------------------------- */
.navi_area {
    margin-top: 45px;
    border-bottom: 1px solid #13322A;
    padding-bottom: 14px;
}

.navi_area ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navi_area ul li a {
    font-family: "Playfair", serif;
    font-size: 35px;
    color: #13322A;
}



/* .product_area--------------------------------------------------------------- */
.product_area {
    padding: 75px 0;
}

.product_area .product {
    width: 300px;
    height: auto;
    text-align: center;
}

.product_area {
    display: flex;
    flex-direction: column;
}

.product_area .top_prod {
    padding-bottom: 30px;
}

.product_area .top_prod ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.product_area .bottom_prod ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 122px;
}



.product_area .product span {
    color: #13322A;
}

.product_area .product .product_img {
    overflow: hidden;
    border-radius: 150px 150px 10px 10px;
    padding-bottom: 10px;
    opacity: .9;
}

.product_area .product .product_img img{
    width: 100%;
}